﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="gym_membership.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2>MEMBERSHIP FORM</h2>
    <h3>XYZ GYM </h3>
    <p>Use this area to provide additional information.</p>
</asp:Content>
